* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(23, 197, 23) 0%, rgb(110, 110, 235) 100%);
    height: 100vh;
}

.container{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 35%;
    padding: 30px 40px;
    min-width: 484px;
}

.new-task-container {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0 , 0.2);
    display: flex;
    min-width: 400px;
}

.new-task-container input {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 4px 4px 8px rgba(0, 0, 0 , 0.212);
    flex: 3;
    font-size: 1rem;
    
}

.new-task-container input:focus {
    outline: none;
    border-color: #41b883;

    
}

.new-task-container button {
    padding: 10px 8px;
    background-color: #41b883;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    flex: 1;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 12px;

}

.tasks-container {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0 , 0.3);
    min-width: 376px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 12px;
    word-wrap: break-word;
}

.task-item p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}


.task-item i {
    background-color: #41b883;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}
/* Utilitários */

.error {
    border: 2px solid red !important;
}
.error::placeholder {
    color: red;
}

.completed {
    text-decoration: line-through;
}
